.dfc {
    display: grid;
    grid-template-rows: 40% 6% 44%;
    /* grid-template-areas: 
    'size'
    'weight' */
}

.tableWeight {
    /* grid-area: 'weight'; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.opentops {
    display: grid;
    grid-template-rows: 46% 6% 48%;
}