.app-wrapper {
  margin: auto;
  display: grid;
  width: 800px;
  height: 600px;

  grid-template-areas: 
  "h"
  "c"
  "f";

  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 1fr;
}

.app-wrapper-content {
  grid-area: "c";
  /* background-color: grey; */
  margin-left: 5%;
  margin-right: 5%;
}